<?xml version="1.0"?>
<robot name="omnidirectional" xmlns:xacro="http://ros.org/wiki/xacro" >

    <xacro:property name="package_name" value="omnidirectional_description"/>

    <xacro:include filename="$(find ${package_name})/urdf/omnidirectional_urdf.xacro"/>

    <xacro:include filename="$(find ${package_name})/urdf/omnidirectional_gz_propierties.xacro"/>

    <xacro:include filename="$(find ${package_name})/urdf/omnidirectional_control.xacro"/>

    <xacro:include filename="$(find ${package_name})/urdf/lidar.xacro"/>

    <xacro:include filename="$(find ${package_name})/urdf/camera.xacro"/>

    <xacro:include filename="$(find ${package_name})/urdf/imu.xacro"/>

    
</robot>